.userCard{
    background-color: var(--secondary-background);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.userCard_box_img{
    border-radius: 50%;
}
.userCard_box_info{
    line-height: .6;
}
.userCard_box_info button{
    color: var(--primary-background);
    background-color: var(--secondary-color);
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.icon_add_friend {
    --ionicon-stroke-width: 32px;
  }
