.userCard {
    background-color: var(--secondary-background);
    border-radius: .5rem;
    padding: 1rem;
    position: relative;
}

.userCard_img_desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}
.userCard_box_img {
    border-radius: 50%;
}

.userCard_box_desc{
    padding: 1rem 0 0;
}

.userCard_status_btn {
    color: var(--primary-background);
    background-color: var(--secondary-color);
    padding: .25rem 1.5rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.icon_add_friend {
    --ionicon-stroke-width: 32px;
}