.card_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #f1820342;
    cursor: pointer;

}
.card_box_left{
    border-radius: 50%;
}
.chat_card_link{
    text-decoration: none;
    color: #fff;
}
.chat_card_link:hover{
    text-decoration: none;
}