.alluser_info{
    width: 80%;
    margin: 4rem auto;
    font-size: 1.5rem;
}
.alluser{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

@media only screen and (max-width:35em){
    .alluser_info{
        width: 90%;
        margin: 2rem auto;
        font-size: 1rem;
    }
    .alluser{
        width: 90%;
        justify-content: center;
    }
}